doctype html
html
  head
    meta(charset='utf-8')

    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title My Movie List

    meta(name='viewport', content='width=device-width, initial-scale=1')


    block link

         link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css')

         link(rel='stylesheet', href='../css/main.css')

  body

     .container.u-full-width.head
          .row
               .page-header.seven.columns
                    h1 Movie List
               .three.columns.logout-div
                    h5.greeting
               .two.columns.logout-div
                    button.log-out Logout

     block content


